.red
{
    color: red;
}
.green
{
    color: lightgreen;
}
.backgroundRed
{
    background-color: red;
}

.white
{
    color: white;
}

.backgroundWhite
{
    background-color: white;
}

.backgroundBlack
{
    background-color: black;
}

.img
{
    width: 50%;
    height: auto;
    border: 10px solid;
}